/* css */
:root {
  --rotation: -90deg;
}

.collapsible {
  background-color: rgb(81, 61, 194);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-top: 10px;
  display: flex;
}

.active, .collapsible:hover {
  background-color: rgb(49, 32, 146);
}


.collapsible:after {
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
/* 
.active:after {
  content: "\2212";
} */

.collapsible.active {
  --rotation: 0deg;
}

.collapsible span {
  margin-left: 20px;
}

#dateIn {
  margin-left: 200px;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.downArrow {
  height: 15px;
  filter: invert(100);
  transform: rotate(var(--rotation));
  transition: all 0.2s ease-out;
  margin-right: 10px;
}

.onOff {
  height: 20px;
  margin-left: 100px;
  margin-right: 0px;
  filter: invert(25%) sepia(35%) saturate(2875%) hue-rotate(332deg) brightness(101%) contrast(132%);
}


.btnTest{
  background:url('../../assets/on-off.png') no-repeat left center;
  height: 30px;
  padding-left:20px;
  color: #cf1616;
}    